@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    margin:0; 
}

a{
    text-decoration: none;
}

main{
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

h2{
    border-left: solid 3px skyblue;
    padding-left: 1rem;
}

.site-identity{
    text-align: center;
    font-size: 2rem;
}

.site-identity__title{
    color: skyblue;
}

.intro, .reference{
    padding: 1rem 0;
    border-bottom: solid 2px gray;
}

.reference__endpoint{
    background-color: ghostwhite;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 12px;
}

.reference__sub-title{
    text-align: center;
    border-bottom: solid 2px skyblue;
    padding-bottom: 0.5rem;
}

.reference__description{
    font-style: italic;
    opacity: 0.5;
}

.reference__code-snippet{
    background-color: #1b1b21;
    border-radius: 12px;
    padding: 1rem;
    color: lightgrey;
    font-family: 'Source Code Pro', monospace;
    overflow-x: scroll;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1b21;
    border: solid 2px transparent;
    border-radius: 6px;
    width: 150px;
    padding: 4px;
    gap: 0.5rem;
    margin: 0 auto;
}
.button:hover{
    cursor: pointer;
    filter: invert(100%);
    transition: all ease-in 350ms;
    border: solid 2px white;
}

.button__image{
    width: 35px;
    height: 35px;
    vertical-align:middle;
    filter: invert(100%);
}

.button__text{
    color: white;
    font-weight: bold;
}